.film-page {
  padding: 30px;
}

.film-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.film-table-container {
  overflow-x: auto;
  border-radius: 8px;
}

.uk-table {
  width: 70%;
  border: 2px solid rgba(255, 255, 255, 0.09); /* Ajoute une bordure blanche transparente au tableau */
  border-collapse: collapse; /* Assure que les bordures des cellules et du tableau se chevauchent */
  border-radius: 5px; /* Ajoute un border-radius de 5px au tableau */
}

.uk-table th,
.uk-table td {
  padding: 12px 15px;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.168); /* Bordure supérieure */
  border-bottom: 1px solid rgba(255, 255, 255, 0.219); /* Bordure inférieure */
}

.uk-table th {
  background-color: #ffd461;
  color: #333;
  font-weight: bold;
  border-left: none; /* Pas de bordure à gauche */
  border-right: none; /* Pas de bordure à droite */
}

.uk-table td {
  border-left: none; /* Pas de bordure à gauche */
  border-right: none; /* Pas de bordure à droite */
}

.film-image {
  border-radius: 3px;
  max-width: 100px;
}

.btnGenre {
  padding: 10px 20px;
  background-color: #ffd461;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin-right: 30%;
}

.btnGenre:hover {
  background-color: #caad5d;
}

.uk-label-warning {
  color: #ffffff;
  font-size: 1.5em;
}
