/**** MAIN ****/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1818;
  color: aliceblue;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}

/********* HOME **********/
#pageAcc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.accueil h1 {
  color: white;
  font-size: 4em;
}

.accueil h2 {
  color: white;
}

a {
  text-decoration: none;
  color: aliceblue;
}

img.poster {
  width: 1000px; /* Définir une largeur fixe */
  height: 700px; /* Définir une hauteur fixe */
  object-fit: cover; /* S'assure que l'image couvre toute la dimension sans déformation */

  /* Mask pour créer un effet de fondu plus fin sur le côté gauche uniquement */
  -webkit-mask-image: linear-gradient(
    to left,
    black 0%,
    transparent 20%,
    transparent 100%
  );
  -webkit-mask-size: cover;

  mask-image: linear-gradient(
    to left,
    black 0%,
    /* Le fondu commence à % de l'image, vers la gauche */ transparent 98%,
    /* transparence de'limage */ transparent 100%
  );
  mask-size: cover;
}

/********* SLIDER ************/
.slideshow-container {
  display: flex;
  justify-content: flex-end;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/***** STYLE NAV BAR ****/

.uk-navbar-container {
  display: flex;
  justify-content: space-between; /* Aligne les éléments à gauche et à droite */
  align-items: center; /* Assure que les éléments sont centrés verticalement */
  background-color: #000000;
  padding: 10px 15px;
}

.uk-navbar-left {
  display: flex;
  align-items: center; /* Pour que le logo et les liens de navigation soient alignés */
}

.uk-logo img {
  margin-right: 20px; /* Espace entre le logo et les éléments de navigation */
}

.uk-navbar-nav {
  display: flex;
  margin-left: 50px;
  padding-left: 0;
}

.uk-navbar-nav > li {
  list-style: none;
  margin-right: 20px; /* Espacement entre les éléments de la navbar */
}

.uk-navbar-nav > li > a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.uk-navbar-nav > li > a:hover {
  background-color: #f1f1f1;
  color: #333;
}

.searchBar {
  margin-left: 40px;
}

/****BOUTONS****/

.btnGenre {
  margin: 100px;
  text-decoration: underline;
}
