/* body {
  background-color: #302929;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #302929;
}

.uk-table {
  background-color: #302929;
}

.uk-navbar-nav > li > a {
  color: white;
} */
